@import "mixins";


.Vertical {
    display: inline-grid;
    width:100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 930px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
    gap: 16px;
    >li {
        width: 100%;
        min-width: 0;
        //
    }
}

.Horizontal {
    display: flex;
    flex-direction: column;

}

.CatalogList {
    margin-top: 50px;
    margin-bottom: 30px;

    align-items: center;

    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1D1D1B;
        padding: 0;
        margin: 0;
    }
}

.Header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    ;
}

.HeaderMenu {
    display: flex;
    align-items: center;
}

.CardList {
    @include list;
    margin-bottom: 30px;
    ;
}

.Divider {
    width: .5px;
    height: 30px;
    border-left: 0.5px solid #B5BCCB;
    margin: 0 20px;
}

.HorizontalBtn {
    margin-right: 10px;
    ;
}

.Select {
    margin-right: 16px;
    ;
}


.PrimaryButton {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    width: 220px;
    height: 56px;
    border: 1px solid #3B85F7;
    border-radius: 10px;
    background-color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #3B85F7;


}