@import "mixins";
.RangeInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    @include placeholder {
        color: #7B869B;
    }
}

.From,
.To {
    height: 50px;
    padding: 15px;
    border: 1px solid #B5BCCB;
    border-radius: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #7B869B;
    width: inherit;
}

.From {}

.To {}

.Divider{
    width: 10px;
    min-width: 10px;
    background: #989FAC;
    height: 1px;
}